.top_title {
	display: flex;
  justify-content: center;
  align-items: center;
 	margin-bottom: 70px;
}

.title {
	margin-bottom: 30px;
}

.card_padding {
	padding: 25px 25px 25px 25px;
}

.helperText {
	font-size: 18px;
}

.exchange {
	margin-top: 30px;
	text-align: center;
}

.neptune {
  font-weight: 600;
	color:#008000; 
}

.wallet_details {
	margin-top: 20px;
}

